/* Для всего текста по сути */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */
/* Для главного названия */
@font-face {
    font-family: 'Nico Moji';
    src: url(fonts/NicoMoji-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    /* 100%/12(колонок)=8,3 */
    --margin-big: 0 16%;
    --margin-small: 0 8%;
    --color-bg: #fbfbfb;
    --bg-color-grid-white: rgba(205, 205, 205, 0.19);
}

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* font-family: "Manrope", sans-serif; */ /* я его пока что отключил, мне с ним не привычно как то стало */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color-bg);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.1rem;
}

button{
    /* background-color: blue; */
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    border: none;
    text-transform: uppercase;
    white-space: nowrap; /* Не переносить тест на новую строку */
    font-size: 0.7rem;
}





/* - - - - - heared начало - - - - - */
header{
    background-color: #fffffff6;

    /* У класса main стоит большой padding-top чтобы если поставить header position: fixed чтобы он начал нормально скролиться */

    /* position: fixed;
    width: 100%;
    background-color: #fffffff6;
    z-index: 10; */
}

.header__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.header-left-block{
    display: flex;
}

.header-left-block .logo{
    display: flex;
    align-items: center;
}

.header-left-block .logo img{
    width: 80px;
    margin-right: 50px;
}

/* - - - - - Печатающийся текст для лого - - - - - */
.header-left-block .name h4 {
    font-family: 'Nico Moji', sans-serif;
    font-size: 2em;
}

.header-left-block .name p {
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block; /* Устанавливаем текст и курсор в одну строку */
    border-right: 2px solid #000;
    animation: typing 3s steps(30, end) 2s forwards, blink-caret 0.7s step-end infinite 2s;
}

/* Ключевые кадры для печати текста */
@keyframes typing {
    from { width: 0; }
    to { width: 89%; }
}

/* Анимация мигающего курсора */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

/* - - - - - nav меню начало - - - - - */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2em;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    font-family: "Manrope", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: #262626;
    text-transform: uppercase;
    text-decoration: none;
    position: relative; /* Это нужно для позиционирования псевдоэлемента */
    transition: color 0.3s;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1B76FF;
    transform: scaleX(0); /* Начальное состояние: скрытый бордер */
    transform-origin: left; /* Начальная точка для анимации */
    transition: transform 0.3s ease; /* Плавная анимация */
}

nav ul li a:hover {
    color: #1B76FF;
}

nav ul li a:hover::after {
    transform: scaleX(1); /* Плавное появление бордера слева направо */
}










/* - - - - - main-screen главный экран с моим фото - - - - - */
main{
    padding-top: 1px; /* Должно стоять 100px когда будет двигаться меню */
}

.main-screen{ 
    display: flex;
    align-items: center;
    height: 75vh;
    margin: var(--margin-big);
    margin-bottom: 100px;
    background-image: url(img/header/how-i-work-l.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 10px;

}

/* Описание преподаватель онлайн курсов Александр Белоусов */
.main-description{
    padding: 0 5%;
    padding-top: 19%;
    margin-top: 20%;
    width: 40%;
}

.main-description h1,
.main-description h2,
.main-description p,
.main-description {
    margin: 2% 0;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-description h2{
    font-size: 1rem;
}

.main-description h1{
    font-size: 2rem;
}

.main-description p{
    font-size: 1rem;
}










/* - - - - - reviews отзывы начало - - - - - */
.reviews{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    background-image: url(img/review/reviews-bg.png);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}


.reviews-description{
    position: relative;
    margin: var(--margin-big);
    padding: 1% 5%; 
    text-align: center;
    z-index: 1;
}

.reviews-description h2{
    margin-top: 150px;
    color: white;
    text-shadow: 3px 3px 23px rgba(14,  14,  14, 0.24);
}

.reviews-description p{
    color: white;
    text-shadow: 3px 3px 23px rgba(14,  14,  14, 0.24);
}

.number-700{
    font-size: 4rem;
    font-weight: 800;
    color: #FF9000;
}

/* Смайлик :O */
.smile-o{
    position: absolute;
    font-size: 4rem;
    bottom: 15%;
    left: 35.8%;
    z-index: -1;
}

.reviews__photo{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews__photo .row{
    display: flex;
    align-items: center;
}

/* С групами фото */
.photo-with-groups{
    width: 180px; /* 270 */
    height: 114px;
    margin: 2px;
    /* overflow: hidden; */ /* Если убрать изображение будет внутрь растягиваться */
    border-radius: 10px;
    border: 2px solid rgba(205, 205, 205, 0.372);
}

.photo-with-groups img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.photo-with-groups img:hover{
    transform: scale(1.5);
    transition: 0.3s;
}

/* С индивидуальными */
.photo-with-student{
    width: 350px;
    height: 100px;
    margin: 0 5px;
    border-radius: 10px;
    border: 2px solid rgba(205, 205, 205, 0.372);
    overflow: hidden;
    
}

.photo-with-student img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.reviews-button button{
    margin-top: 20px;
}











/* - - - - - unity блок начало- - - - - */
.unity{
    padding: 200px 0;
    background-color: #000;
}

.unity__inner{ 
    margin: var(--margin-small);
    height: 70vh;
    position: relative;
}


.unity-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%; /* опускается на 50% от высоты родительского блока */
    left: 0;
    transform: translateY(-50%); /* затем поднимается на половину своей собственной высоты, чтобы быть по центру */
    width: 50%;
    z-index: 3;
}

.unity-description-logo{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

/* .unity-description-logo img{
    box-shadow: 0 4px 33px 0 rgba(255, 255, 255, 0.37);    
} */

.unity-description-logo p{
    font-size: 2rem;
    color: #D5D5D5;
}

.unity-description-title h3{
    font-size: 3rem;
    color: #ECECEC;
    margin-bottom: 5%;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.89);
}

.unity-description-description p{
    font-size: 1.3rem;
    color: #EFEFEF;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.89);
}

/* Gif */
.unity-tizer{
    position: absolute;
    top: 0;
    right: 0;
    width: 76%;
    height: 100%;
    background-color: rgb(58, 58, 58, 0.5);
    z-index: 0;
    border-radius: 10px;
    background-image: url(img/gif/unity-tizer.png);
    background-size: cover;
    /* filter: blur(43px); */
}


/* .unity-button{
    /* position: absolute; */ /* Позиционируем кнопку абсолютно */
    /* bottom: 5%; */ /* Отступ от низа (можно настроить) */
    /* left: 2%; /* Центруем кнопку по горизонтали */
    
    /* left: 50%; */ /* Центруем кнопку по горизонтали */
    /* transform: translateX(-50%); */
    /* margin: 10%; */


.unity-33per{
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.unity-33per button{
    margin-bottom: 10%;
}










/* - - - - - advantages преимущества начало - - - - - */
.advantages{
    background-color: #000;
    padding: 150px 0;
}

.advantages__inner{
    margin: var(--margin-big);
}

.advantages__inner h2{
    color: #F4F4F4;
}

.advantages__inner h3{
    color: #E9E9E9;
}

.advantages__inner p{
    color: #E9E9E9;
}


.advantages__inner .grid-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

    /* Для средних экранов */
    @media (max-width: 1200px) {
        .advantages__inner .grid-container{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }

    /* Для телефонов */
    @media (max-width: 600px) {
        .advantages__inner .grid-container{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
        }
    }

/* Ячейки грида */
.advantages__inner .grid-container .grid-item{
    position: relative;
    min-width: 33%;
    min-height: 200px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #313131;
    background: rgba(205, 205, 205, 0.19);
    box-shadow: 9px 11px 38px -8px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: 3;
}

.advantages__inner .grid-container .grid-item h3{
    margin-bottom: 50px;
    padding-right: 70px;
    color: #e9e9e9;
}

.advantages__inner .grid-container .grid-item p{
    color: rgba(213, 213, 213, 0.88);
}

.advantages__inner .grid-container .grid-item .icon{
    font-size: 5rem;
    position: absolute;
    top: 0px;
    right: 14px;
    z-index: 2;
}

.advantages__inner .grid-container .grid-item .icon-blur{
    font-size: 12.5rem;
    position: absolute;
    top: -30%;
    right: -10%;
    filter: blur(50px);
    z-index: 1;
    user-select: none;
}










/* - - - - - web-sites сайты блок начало - - - - - */
.web-sites{
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0) 70%, var(--color-bg) 70%);
    background: -moz-linear-gradient(180deg, rgb(0, 0, 0) 70%, var(--color-bg) 70%);
    background: linear-gradient(180deg, rgb(0, 0, 0) 70%, var(--color-bg) 70%);
    overflow: hidden;
}

.web-sites__inner{
    position: relative;
    margin: var(--margin-big);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-sites__inner h2{
    font-size: 17rem;
    margin-bottom: -6%;
    font-weight: 800;
    
    background: radial-gradient(50% 50% at 50% 50%, rgb(173, 162, 172) 42.5%, rgb(67, 66, 71) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    white-space: nowrap; /* Запрещает перенос текста */
    overflow: visible; /* Позволяет выходить за пределы контейнера */
}

.web-tizer{
    margin: var(--margin-big);
    width: 100%;
    height: 800px;
    background-image: url(img/gif/web-tizer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
    border: 10px solid #704D60;
    border-bottom: none;
}

.web-sites__inner__blur{
    width: 130%;
    height: 300px;
    position: absolute;
    background-color: var(--color-bg);
    bottom: -140px;
    filter: blur(50px);
}


/* Начало грида, по сайтам */
.web-grid{
    margin: var(--margin-big);
}

.web-grid h2{
    font-size: 5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background: linear-gradient(90deg, #5750ed 0%, #c42cee 36.5%, #f24646 68%, #ff5e00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.web-grid > p{
    margin-top: 1%;
    margin-bottom: 7%;
    font-size: 2.5rem;
    text-align: center;
}

.web-grid .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 150px;
}

.web-grid .grid-container .grid-item{
    position: relative;
    min-width: 33%;
    min-height: 200px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ededed;
    background: var(--bg-color-grid-white);
    box-shadow: 9px 11px 38px -8px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: 3;
}

.web-grid .grid-container .grid-item h3{
    margin-bottom: 50px;
    padding-right: 70px;
    color: #202020;
}

.web-grid .grid-container .grid-item p{
    color: rgba(69, 69, 69, 0.88);
}

.web-grid .grid-container .grid-item .icon{
    font-size: 5rem;
    position: absolute;
    top: 0px;
    right: 14px;
    z-index: 2;
}

.web-grid .grid-container .grid-item .icon-blur{
    font-size: 12.5rem;
    position: absolute;
    top: -30%;
    right: -10%;
    filter: blur(50px);
    z-index: 1;
    user-select: none;
}

.web-grid .item1{
    grid-column: span 2;
}

/* Синий блок справа */
.web-grid .grid-container .item2{
    grid-row: span 2;
    background: linear-gradient(135deg, #013fcf 0%, #00cfe9 100%);
}

.web-grid .grid-container .item2 h3{
    color: #fff;
    text-align: center;
}










/* - - - - - which-course какой курс выбрать - - - - - */
.which-course{ 
    margin: var(--margin-big);
    margin-bottom: 10%;
}

.which-course h2{
    margin-bottom: 10px;
    color: #222222;
}

.which-course h2 span{
    font-size: 3.5rem;
    color: orange;
}

.which-course > p{
    margin-bottom: 5%;
    color: #555555;
}

/* Grid выбора курса */
.which-course .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.which-course .grid-container .grid-item{
    display: flex;
    /* min-width: 33%; */
    /* min-height: 250px; */
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ededed;
    box-shadow: 9px 11px 38px -8px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: 3;
}

/* Левый блок в ячейке */
.grid-item__inner__left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
}

.grid-item__inner__left h3{
    color: #202020;
    /* color: #F3F3F3; */
}

.grid-item__inner__left p{
    padding: 10% 0;
    color: rgba(69, 69, 69, 0.88);
    /* color: #FFFFFF; */
}

.grid-item__inner__left__button{
    display: flex;
    justify-content: center;
}


/* Правый блок в ячейке */
.grid-item__inner__right{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.grid-item__inner__right__icon{
    width: 70%;
    height: 60%;
    padding: 15% 20%;
    object-fit: contain;
    z-index: 2;
}

/* Отдельный стиль логотипа кг потому что у него широкие рамки, формат gif */
.kg-logo{
    width: 100%;
    height: 100%;
}

/* Отдельный стиль логотипа Web потому что ему нужны узкие рамки */
.web-logo{
    width: 100%;
    height: 100%;
}

.which-course .grid-container .grid-item .age{
    width: 100%;
    height: 5%;
}

/* Это для маленько текста возраст */
.grid-item__inner__right .age{
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    text-align: end;
    color: #7A7A7A;
}

/* Задние фоны ячеек и цвет текста заголовка и описания */
.bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg__kg{
    background: rgb(186,223,237);
    background: linear-gradient(142deg, rgba(186,223,237,1) 0%, rgba(244,244,247,1) 77%, rgba(253,160,178,0.8743872549019608) 100%);
}

.bg__scratch{
    background: rgb(215,171,108);
    background: radial-gradient(circle, rgba(215,171,108,1) 5%, rgba(235,217,192,1) 73%, rgba(237,237,237,1) 100%);
}

/* Roblox */
.bg__roblox .grid-item__inner__left h3{
    color: white;
}

.bg__roblox .grid-item__inner__left p{
    color: white;
}

.bg__roblox{
    background: rgb(115,164,188);
    background: radial-gradient(circle, rgba(115,164,188,1) 11%, rgba(156,209,233,1) 72%, rgba(204,234,249,1) 100%);
}

/* Unity */
.bg__unity .grid-item__inner__left h3{
    color: #F3F3F3;
}

.bg__unity .grid-item__inner__left p{
    color: #F3F3F3;
}

.bg__unity{
    background-image: url(img/which-course/bg-unity.png);
}

.bg__web{
    background-image: url(img/which-course/bg-web.png);
}

/* Python */
.bg__python .grid-item__inner__left h3{
    color: white;
}

.bg__python .grid-item__inner__left p{
    color: white;
}

.bg__python{
    background-image: url(img/which-course/bg-python.png);
}















/* - - - - - price понятные цены начало - - - - - */
.price{
    height: 100vh;
    margin-bottom: 150px;
    background: radial-gradient(205.65% 137.68% at 0% 94.64%, rgb(1, 199, 232) 0%, rgb(1, 159, 225) 32.44621455669403%, rgb(2, 68, 208) 100%);
}
.price__inner{
    margin: var(--margin-big);
    display: flex;
    flex-direction: column;
}

.price__inner__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

    /* Для средних экранов */
    @media (max-width: 1200px) {
        .price__inner__container, .price{
            height:auto;
        }
    }

    /* Для телефонов */
    @media (max-width: 600px) {
        .price__inner__container, .price{
            height:auto;
        }
    }

/* Заголовок понятные цены */
.price__inner h2{
    text-align: center;
    color: #F0F0F0;
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice__inner{
    width:fit-content;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.individual{
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 10px;
}

.groups{
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
    padding: 5px 20px;
}

/* Grid с ценами 3 ячейки */
.price__inner .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}

    /* Для средних экранов */
    @media (max-width: 1200px) {
        .price__inner__container .grid-container{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    /* Для телефонов */
    @media (max-width: 600px) {
        .price__inner__container .grid-container{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }

/* Общая настройка 3х гридов */
.price__inner .grid-item{ 
    min-width: 250px; /* отключил потмоу что не видно инспектор в браузере нормально */
    padding: 2% 10% 10% 10%;
    border-radius: 15px;
    border: 1px solid #ededed1b;
    background: var(--bg-color-grid-white);
    box-shadow: 9px 11px 38px -8px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: 1;
}

/* Настройка внутри окошка */
.price__inner__container .grid-container .grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Для верхней части */
.grid-container .grid-item .up{
    display: flex;
    align-items: center;
}

.up .icon-and-blur{
    position: relative;
}

.up .icon{
    font-size: 5rem;
    z-index: 1;
}

.up .icon-blur{
    font-size: 12.5rem;
    position: absolute;
    top: -60%;
    right: -70%;
    filter: blur(50px);
    z-index: -1;
    user-select: none;
}

/* Заголовок внутри окошка */
.price__inner .grid-container .grid-item h3{
    color: #fff;
}

/* Описание внутри окошка */
.price__inner .grid-container .grid-item > p{
    padding: 10% 0;
    color: #F0F0F0;
}

/* Условия для скидки */
.one-two{
    text-align: center;
    color: #F1F1F1;
}










/* - - - - - best-works лучшие цены начало - - - - - */
.best-works{
    margin-bottom: 150px;
}

.best-works__inner{
    height: 100%;
    margin: var(--margin-big);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Блок с задним фоном с блюром */
.best-works-bg{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/best-works/best-works-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.best-works__inner__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.best-works h2{
    margin-bottom: 1%;
}

.small-window{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Маленькое окно, о том что скоро будет готов блок  */
.small-window__inner{
    margin: 20% 0;
    padding: 5%;
    text-align: center;
    background-color: rgb(242, 242, 242, 55%);
    border-radius: 10px;
    border: 2px solid #ededed4d;
    box-shadow: 9px 11px 38px -8px rgba(0, 0, 0, 0.12);
}

.small-window__inner h3{
    margin-bottom: 40px;
}











/* - - - - - how-to-start как начать заниматься начало - - - - - */
.how-to-start{
    margin-bottom: 15%;
}

.how-to-start__inner{
    margin: var(--margin-big);
}

.how-to-start h2{
    margin-bottom: 10px;
    color: #272727;
}

.how-to-start p{
    margin-bottom: 5%;
    color: #666666;
}

/* Grid 5 ячеек как начать */
.how-to-start .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}

/* Общая настройка ячейки */
.how-to-start .grid-container .grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 150px;
    min-height: 150px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ededed1b;
    background: var(--bg-color-grid-white);
    box-shadow: 9px 11px 38px -8px rgba(0, 0, 0, 0.12);
    z-index: 1;
    overflow: hidden;
}

/* Верхний блок */
.how-to-start .grid-item .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Число */
.top .left-number p{
    font-size: 2rem;
    color: orange;
    z-index: 1;
}

/* Иконка с блюром */
.top .right-icon-and-blur{
    position: relative;
}

.top .right-icon{
    font-size: 3rem;
}

.top .right-icon-blur{
    position: absolute;
    top: -100%;
    right: -100%;
    font-size: 10rem;
    z-index: -1;
    user-select: none;
    filter: blur(70px);
}

/* Доп. блюр для телефона */
.top .right-icon-blur-phone{
    position: absolute;
    top: -100%;
    right: -100%;
    font-size: 10rem;
    z-index: -1;
    user-select: none;
    filter: blur(70px);
    opacity: 0.8;
}















/* - - - - - faq часто задаваемые впросы начало - - - - - */
.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/faq/faq-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.faq__inner{
    margin: var(--margin-big);
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #00cfe9; */
}

/* Название */
.faq h2{
    margin-bottom: 1%;
    color: #fff;
}

/* Описание */
.faq p{
    margin-bottom: 5%;
    color: #F4F4F4; 
}

.faq__ul__inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F4F4F4;
    color: #F4F4F4;
}

/* Текст вопроса */
.faq__ul__inner .text{
    padding-top: 3%;
    padding-bottom: 1%;

}

/* Стрелка расскрывающая вопрос */
.faq__ul__inner .arrow{
    padding: 20px;
    transform: rotate(90deg);
}

.faq__ul__button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.faq__ul__button .first-button{
    margin-right: 20px;
}










/* - - - - - form-call форма для заявок начало - - - - - */
.form-call{
    background-image: url(img/form-call/form-call-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.form-call__inner{
    margin: var(--margin-big);
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Левый и правый блок в форме */
.form-call__inner__window{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(2px);
}

/* Левый блок */
.left-block{
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-block h2{
    font-size: 3rem;
    margin-bottom: 2%;
    color: #fff;
}

.left-block p{
    color: #e0e0e0;
}

.left-block span{
    color: orange;
    font-weight: bold;
}


/* Правый блок */
.rigth-block{
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rigth-block input{
    width: 94%; /* потому что padding-left 5% и рамка как-то влияет ещё и он выдвигает input направо сильно */
    padding: 3% 0 3% 5%;
    margin-bottom: 1%;
    border-radius: 15px;
}

/* Кнопка */
.button-and-text{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* Условия соглашения */
.button-and-text p{
    font-size: 0.6rem;
    margin-left: 5%;
    color: #A4A4A4;
}










/* - - - - - footer нижняя часть начало - - - - - */
footer{
    background-color: #17151e;
}

.footer__inner{
    margin: var(--margin-big);
    padding-top: 3%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Верхняя часть футера */
.footer__inner__up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__inner__up img{
    width: 100px;
}

.footer__inner__up .name h4{
    font-size: 1.8rem;
    font-family: 'Nico Moji', sans-serif;
    color: #F6F6F6;
}

.footer__inner__up .name p{
    font-size: 0.6rem;
    color: #C3C3C3;
}

/* Номер телефона */
.phone-number .small-p-footer{
    font-size: 0.8rem;
    color: #949494;
}

.phone-number p{
    font-size: 0.9rem;
    color: #FFFFFF;
}

/* Email */
.email .small-p-footer{
    font-size: 0.8rem;
    color: #949494;
}

.email p{
    font-size: 0.9rem;
    color: #FFFFFF;
}






/* Главный блок по середине */
.footer__inner__main{
    width: 100%;
    /* background-color: #9e9256; */
}

.footer__inner__main .grid-container{
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /* grid-gap: 0%; */
}

.footer__inner__main .grid-container .grid-item{
    margin: 0 5%;
    padding: 1%;
}

.footer__inner__main .grid-container .grid-item h2{
    font-size: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__inner__main .grid-container .grid-item p{
    font-size: 0.9rem;
    color: #949494;
}


/* Линия */
.footer__inner__line{
    width: 130%;
    border-bottom: 2px solid #555555;
}


/* Нижняя часть футера */
.footer__inner__down{
    width: 100%;
}

.footer__inner__down .grid-container{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.footer__inner__down .grid-container .grid-item{
    padding: 1%;
    color: #949494;
}

.footer__inner__down .grid-container .grid-item p{
    font-size: 0.6rem;
    color: #676767;
}
