h1{
    text-align: center;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div{
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 20px;
    background-color: rgb(183, 183, 183);
}

p{
    color: white;
}